{% extends 'shared/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% load shared %}

{% block content %}
<div class="row rounded bg-light me-0">
    <h1>Search results for "{{ search_query|truncatechars:30 }}"</h1>
    <ul class="list-group px-1 my-1">
    {% if not page_obj %}
        <p class="text-center">No results came up...</p>
    {% else %}
        {% for result in page_obj %}
            <a class="text-decoration-none" href="{{ result.get_absolute_url }}">
                <li class="list-group-item mt-1">
                    <small class="text-secondary">({{ result|get_class }})</small>
                    {{ result }}
                </li>
            </a>
        {% endfor %}
        </ul>
        {# Pagination #}
        <div class="row">
            {% include "shared/paginator.html" %}
        </div>
    {% endif %}
</div>
{% endblock content %}
